.DS_Store
*.o
*.a
*.dylib
*.pc
*.cmake
CMakeFiles
CMakeCache.txt
Makefile
Testing
examples
test
*.pyc
utils/lexbor/css/grammar.generated.txt
utils/lexbor/css/grammar.json
utils/lexbor/css/grammar.output.txt
node_modules
utils/lexbor/css/package-lock.json
